.list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.banner {
	width: 100%;
	padding-top: 100%;
	position: relative;
}

.item {
	width: 100%;
	height: 80px;
}

.banner,
.item {
	background: linear-gradient(-90deg, #e1e1e1 0%, #929fbd 50%, #e1e1e1 100%);
	background-size: 400% 400%;
	animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: -135% 0%;
	}
}
